

<br><br>

<div style="text-align:center;" class="logo">
    </br>
    </br>
    <a href="/home/index"><img src="/image/gggg.png"></a>
    </br>
    </br>
    <br><br>
</div>

<!--
<select class="form-control" onchange="location.href=this.value"  style="cursor:pointer">
    <option value=""></option>
    <% @sort.each do |s| %>
        <option value="/home/sort_p/<%= s.id %>"><%=s.name %></option>
    <% end %>
</select>

<% @company.each do |c| %>
  <a href="/home/company_p/<%=c.id %>"><%= c.name %></a></br>
<% end %>


-->
<div id="message"></div>
<input type="hidden" id="latitude" />
<input type="hidden" id="longitude" />


<!--<input type="button" onclick="requestPosition()" value="현재위치"  /> -->
<div class="row" style="width:100%; margin: 0 auto; ">
    <div class="col-md-4 col-xs-2 col-sm-1"></div>
    <div class="col-md-4 col-xs-8 col-sm-10">

        <form class="searchbox" action="/home/search" method="post">
            <div class="search">
                <input type="text" id="searchb" name="search" placeholder="       업소명을 입력해주세요.">
                <span><button type="image" id="searchimg" src="/image/search.png"><img src="/image/search.png"></button></span>     
            </div>
        </form>
    </div>  
    <div class="col-md-4 col-xs-2 col-sm-1"></div>

</div>

<div class="row" id="sort_p" style="margin-right:80px; margin-left:80px;">
    <div class="col-sm-3 portfolio-item">
      <a href="/home/sort_p/1"><span data-tooltip-text="병원"><img src="/image/hospital.png"></span></a>
    </div>
    <div class="col-sm-3 portfolio-item">
      <a href="/home/sort_p/2"><span data-tooltip-text="음식점"><img src="/image/restaurant.png"></span></a>
    </div>
    <div class="col-sm-3 portfolio-item">
      <a href="/home/sort_p/3"><span data-tooltip-text="미용실"><img src="/image/hair.png"></span></a>
    </div>
    <div class="col-sm-3 portfolio-item">
      <a href="/home/sort_p/4"><span data-tooltip-text="은행"><img src="/image/bank.png"></span></a>
    </div>

</div>


</br></br></br>
<a href="/home/admin">관리자페이지</a>


 <script src="https://maps.googleapis.com/maps/api/js?callback=myMap"></script>
 <script async defer src="https://maps.googleapis.com/maps/api/js?key={APP_KEY}"></script>
<script>

        function setText(val, e) {
        document.getElementById(e).value = val;
    }
    
    function insertText(val, e) {
        document.getElementById(e).value += val;
    }
    
    var nav = null; 
    
    function requestPosition() {
      if (nav == null) {
          nav = window.navigator;
      }
      if (nav != null) {
          var geoloc = nav.geolocation;
          if (geoloc != null) {
              geoloc.getCurrentPosition(successCallback);
          }
          else {
              alert("geolocation not supported");
          }
      }
      else {
          alert("Navigator not found");
      }
    }



    
    function successCallback(position)
    {
       setText(position.coords.latitude, "latitude");
       setText(position.coords.longitude, "longitude");
    
    var lat = position.coords.latitude; // 위도
    var lng = position.coords.longitude; // 경도
    var geocode = "https://maps.googleapis.com/maps/api/geocode/json?latlng="+lat+","+lng;
    jQuery.ajax({
        url: geocode,
        type: 'POST',
           success: function(myJSONResult){
                    if(myJSONResult.status == 'OK') {
                        var tag = "";
                        var i;
                         tag += myJSONResult.results[0].formatted_address+" <br />";
                        
                        document.getElementById("message").innerHTML = tag;
                    } else if(myJSONResult.status == 'ZERO_RESULTS') {
                        alert("지오코딩이 성공했지만 반환된 결과가 없음을 나타냅니다.\n\n이는 지오코딩이 존재하지 않는 address 또는 원격 지역의 latlng을 전달받는 경우 발생할 수 있습니다.")
                    } else if(myJSONResult.status == 'OVER_QUERY_LIMIT') {
                        alert("할당량이 초과되었습니다.");
                    } else if(myJSONResult.status == 'REQUEST_DENIED') {
                        alert("요청이 거부되었습니다.\n\n대부분의 경우 sensor 매개변수가 없기 때문입니다.");
                    } else if(myJSONResult.status == 'INVALID_REQUEST') {
                        alert("일반적으로 쿼리(address 또는 latlng)가 누락되었음을 나타냅니다.");
                    }
            }
    });
 

googleapisView();

    }
    
   
</script>

