<form method="post" action="/home/post_write2">
  <div class="form-group">
    <label for="exampleInputEmail1">제목</label>
    <input type="text" class="form-control" id="p_title" placeholder="제목" name="title">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">내용</label>
    <textarea rows="4" cols="50" name="content" id="p_content"></textarea>
  </div>
 
  <button type="submit" class="btn btn-default">Submit</button>
</form>