

<br><br>

<div style="text-align:center;" class="logo">
    </br>
    </br>
    <a href="/home/index"><img src="/image/gggg.png"></a>
    </br>
    </br>
    <br><br>
</div>

<% if can? :create, Post %>
    <a href="/home/post_write">쓰기</a></br>
<% end %>
<% @post.each do |p| %>
    <a href="/home/post_p/<%= p.id %>"><%= p.title %></a></br>
<% end %>
