

<br><br>

<div style="text-align:center;" class="logo">
    </br>
    </br>
    <a href="/home/index"><img src="/image/gggg.png"></a>
    </br>
    </br>
    <br><br>
</div>


<% @post.each do |p| %>
    <%= p.title %></br>
    <%= p.content %></br>
    <%= p.created_at %></br>
<% end %>